<template>
  <div class="modal">
    <modal-title :title="'Создание сотрудника'"/>
    <modal-input
      :placeholder="'Введите фамилию*'"
      :value="newEmployee.lastName"
      :validators="lastNameValidator"
      :showErrors="showErrors"
      @change="changeLastName($event)"
    />
    <modal-input
      :placeholder="'Введите имя*'"
      :value="newEmployee.firstName"
      :validators="firstNameValidator"
      :showErrors="showErrors"
      @change="changeFirstName($event)"
    />
    <modal-input
      :placeholder="'Введите отчетство'"
      :value="newEmployee.surName"
      :validators="surNameValidator"
      :showErrors="showErrors"
      @change="changeSurName($event)"
    />
    <modal-input
      :placeholder="'Введите зарплату'"
      :value="newEmployee.salary"
      :type="'number'"
      :validators="salaryValidator"
      :showErrors="showErrors"
      @change="changeSalary($event)"
    />
    <modal-radio
      :items="[{value:'male', text:'Мужской'},{value:'female', text:'Женский'}]"
      :value="newEmployee.sex"
      :showErrors="showErrors"
      @change="changeSex($event)"
    />
    <div style="margin-bottom: 20px;width: 300px">
      <multiselect
        placeholder="Выберите отделения*"
        :value="newEmployee.departments"
        @input="changeDepartments($event)"
        label="title"
        track-by="id"
        :options="departmentsComplete"
        :multiple="true"
        :closeOnSelect="false"
        selectLabel="Нажмите Enter для выделения"
        deselectLabel="Нажмите Enter для удаления"
        openDirection="top"
        selectedLabel="Выбрано"
        class="multiselect"
      >
        <div slot="noResult">По вашему запросу ничего не найдено</div>
      </multiselect>
      <div class="errors-container" v-if="showErrors">
        <span
          class="error-item"
          v-for="item in activeErrors(departmentsValidator)"
          :key="item.error"
        >{{textError(item)}}</span>
      </div>
    </div>
    <user-button
      :title="'Создать'"
      :theme="'add'"
      :icon="'plus'"
      @click="save"
    />
    <!--<pre style="max-height: 400px;overflow-y: auto">-->
    <!--{{$v}}-->
    <!--</pre>-->

  </div>
</template>
<script>
  import _ from 'lodash';
  import {
    required, minLength, alpha, between, numeric,
  } from 'vuelidate/lib/validators';
  import Input from './Input/Input.vue';
  import Title from './Title/Title.vue';
  import Radio from './Radio/Radio.vue';

  export default {
    data: () => ({
      newEmployee: null,
      showErrors: false,
    }),
    validations: {
      newEmployee: {
        firstName: {
          required,
          minLength: minLength(3),
          alpha,
        },
        lastName: {
          required,
          minLength: minLength(3),
          alpha,
        },
        surName: {
          minLength: minLength(3),
          alpha,
        },
        salary: {
          numeric,
          between: between(1000, 5000),
        },
        departments: {
          required,
          minLength: minLength(1),
        },
      },
    },
    props: {
      employee: Object,
      saveEvent: Function,
    },

    methods: {
      changeLastName(value) {
        this.newEmployee.lastName = value;
        this.$v.newEmployee.lastName.$touch();
      },
      changeFirstName(value) {
        this.newEmployee.firstName = value;
        this.$v.newEmployee.firstName.$touch();
      },
      changeSurName(value) {
        this.newEmployee.surName = value || null;
        this.$v.newEmployee.surName.$touch();
      },
      changeSalary(value) {
        this.newEmployee.salary = value || null;
        this.$v.newEmployee.salary.$touch();
      },
      changeSex(value) {
        this.newEmployee.sex = value;
      },
      changeDepartments(value) {
        this.newEmployee.departments = value;
      },
      async save() {
        if (!this.$v.newEmployee.$invalid) {
          this.newEmployee.departments = this.newEmployee.departments.map(item => item.id);
          this.$modal.hide(this.$parent.name);
          await this.saveEvent(this.newEmployee);
        } else {
          this.showErrors = true;
        }
      },
      activeErrors(items) {
        if (items) {
          return items.filter(item => !item[Object.keys(item)[0]].value);
        }
        return [];
      },
      textError(obj) {
        return obj[Object.keys(obj)[0]].error;
      },
    },
    computed: {
      departmentsComplete() {
        return this.$store.getters.departments.map(item => ({
          id: item.id,
          title: item.title,
        }));
      },
      firstNameValidator() {
        return [{
          required: {
            value: this.$v.newEmployee.firstName.required,
            error: 'Имя является обязательным полем',
          },
        }, {
          minLength: {
            value: this.$v.newEmployee.firstName.minLength,
            error: 'Имя должно содержать 3 и более символов',
          },
        }, {
          alpha: {
            value: this.$v.newEmployee.firstName.alpha,
            error: 'Имя может содержать только символы',
          },
        }];
      },
      lastNameValidator() {
        return [{
          required: {
            value: this.$v.newEmployee.lastName.required,
            error: 'Фамилия является обязательным полем',
          },
        }, {
          minLength: {
            value: this.$v.newEmployee.lastName.minLength,
            error: 'Фамилия должна содержать 3 и более символов',
          },
        }, {
          alpha: {
            value: this.$v.newEmployee.lastName.alpha,
            error: 'Фамилия может содержать только символы',
          },
        }];
      },
      surNameValidator() {
        return [{
          minLength: {
            value: this.$v.newEmployee.surName.minLength,
            error: 'Отчество должно содержать 3 и более символов',
          },
        }, {
          alpha: {
            value: this.$v.newEmployee.surName.alpha,
            error: 'Отчество может содержать только символы',
          },
        }];
      },
      salaryValidator() {
        return [{
          numeric: {
            value: this.$v.newEmployee.salary.numeric,
            error: 'Зарплата должна быть числом',
          },
        }, {
          between: {
            value: this.$v.newEmployee.salary.between,
            error: 'Зарплата должна быть в промежутке между 1000 и 5000',
          },
        }];
      },
      departmentsValidator() {
        return [{
          required: {
            value: this.$v.newEmployee.departments.required,
            error: 'Нужно указать хотя бы 1 отделение',
          },
        }];
      },
    },
    created() {
      this.newEmployee = _.cloneDeep(this.employee);
    },

    components: {
      'modal-input': Input,
      'modal-title': Title,
      'modal-radio': Radio,
    },
  };
</script>
<style>
  .modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .multiselect {
    width: 330px;
    font-family: "Roboto" !important;
    .multiselect__element {
      font-family: "Roboto";
    }
    .multiselect__input {
      font-family: "Roboto" !important;
    }
    .multiselect__option {
      span {
        font-family: "Roboto" !important;
      }
    }
  }
</style>
