<template>
  <div class="modal">
    <modal-title :title="'Удаление сотрудника'"/>
    <modal-text
      :text="`Вы действительно хотите удалить сотрудника ${item.lastName + item.firstName}?`"
    />
    <div class="modal__buttons">
      <user-button
        :title="'Удалить'"
        :theme="'remove'"
        :icon="'times'"
        @click="remove"
        class="modal__buttons-item"
      />
      <user-button
        :title="'Отмена'"
        class="modal__buttons-item"
        @click="cancel"
      />
    </div>

  </div>
</template>
<script>
  import Title from './Title/Title.vue';
  import Text from './Text/Text.vue';

  export default {
    props: {
      item: Object,
      deleteEvent: Function,
    },

    methods: {
      async remove() {
        await this.deleteEvent(this.item);
        this.$modal.hide(this.$parent.name);
      },

      cancel() {
        this.$modal.hide(this.$parent.name);
      },
    },
    components: {
      'modal-text': Text,
      'modal-title': Title,
    },
  };
</script>
<style>
  .modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .modal__buttons{
    display: flex;
    align-items: center;
  }
  .modal__buttons-item{
    margin-right: 5px;
    &:last-of-type{
      margin-right: 0;
    }
  }
</style>
