<template>
  <div class="page">
    <div class="page__top">
      <page-title :title="title"/>
      <user-button
        v-if="createAction"
        :title="'Создать'"
        :theme="'add'"
        :icon="'plus'"
        @click="createAction"
      />
    </div>
    <page-hr/>
    <slot/>
  </div>
</template>
<script>
  import Title from '../Title/Title.vue';
  import Hr from '../TitleHr/TitleHr.vue';

  export default {
    props: {
      title: String,
      createAction: Function,
    },
    components: {
      'page-title': Title,
      'page-hr': Hr,
    },
  };
</script>
<style lang="scss">
  .page{

  }
  .page__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
</style>
