<template>
  <div class="grid" v-if="renderCondition">
    <dashboard-title :title="'Сетка'"/>
    <dashboard-hr/>
    <div class="table-wrapper">
      <table class="table">
        <thead>
        <tr class="table__thead-tr">
          <th class="table__th" style="width:10%;position: relative">
            <div style="position: absolute;top:4px;right: 4px;font-size: 14px">Компании</div>
            <div style="position: absolute;bottom:4px;left:4px;font-size: 14px">Сотрудники</div>
          </th>
          <th class="table__th" v-for="item in departments" :key="item.id">{{item.title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table__tr" v-for="employee in employees" :key="employee.id">
          <td class="table__td">{{employee.lastName + ' ' + employee.firstName}}</td>
          <td class="table__td" v-for="department in departments" :key="department.id">
            <user-icon
              :name="'check'"
              v-if="!!employee.departments.find(item=>item.id===department.id)"
            />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <user-loader :message="'Идет загрузка отделений с сотрудниками'" v-else/>
</template>
<script>
  import Title from '../../components/UI/PageTools/Title/Title.vue';
  import TitleHr from '../../components/UI/PageTools/TitleHr/TitleHr.vue';

  export default {
    data: () => ({
      isLoading: true,
    }),

    computed: {
      departments() {
        return this.$store.getters.departments;
      },
      employees() {
        return this.$store.getters.employees;
      },
      renderCondition() {
        return this.departments.length > 0 && this.employees.length > 0 && !this.isLoading;
      },
    },
    methods: {
      async loadEmployees() {
        try {
          await this.$store.dispatch('GET_EMPLOYEES');
          this.$notify({
            type: 'success',
            text: 'Сотрудники успешно загружены',
          });
        } catch (e) {
          this.$notify({
            type: 'danger',
            text: 'При загрузке сотрудников произошла ошибка',
          });
        }
      },
      async loadDepartments() {
        try {
          await this.$store.dispatch('GET_DEPARTMENTS');
          this.$notify({
            type: 'success',
            text: 'Отделения успешно загружены',
          });
        } catch (e) {
          this.$notify({
            type: 'danger',
            text: 'При загрузке отделений произошла ошибка',
          });
        }
      },
    },
    created() {
      this.loadDepartments();
      this.loadEmployees();
      this.isLoading = false;
    },

    components: {
      'dashboard-title': Title,
      'dashboard-hr': TitleHr,
    },
  };
</script>
<style lang="scss" scoped>
  .table {
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid rgba($black, .3);
  }

  .table__thead-tr {
    border-bottom: 1px solid rgba($black, .3);
  }

  .table__th {
    font-family: Roboto;
    padding: 20px;
    font-weight: 900;
    border: 1px solid rgba($black, .3);
  }

  .table__td {
    text-align: center;
    padding: 10px;
    font-family: Roboto;
    font-weight: 300;
    border: 1px solid rgba($black, .3);
  }

  .table__tr:nth-of-type(even) {
    background-color: rgb(241, 241, 241);
  }

  .table__buttons {
    /*display: flex;*/
  }

  .table__buttons-item {
    margin-right: 5px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  .table-wrapper {
    overflow-x: auto;
  }
</style>
