<template>
    <router-link
      tag="span"
      class="navigation__link"
      :active-class="'navigation__link_active'"
      :to="{name: item.routeName}"
     >
        {{item.title}}
    </router-link>
</template>

<script>
export default {
  props: {
    item: Object,
  },
};
</script>
<style lang="scss">
  .navigation__link{
    color: $black;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
    border: 2px solid $primary;
    padding: 10px;
    margin-right: 3px;
    text-transform: uppercase;
    font-size: 8px;
    transition: .4s background-color, .4s color;
    text-align: center;
    @include sm{
      font-size: 10px;
    }
    @include md{
      font-size: 12px;
    }
    &:hover, &_active{
      background-color: $primary;
      color: $white;
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
</style>
