<template>
  <div class="modal__text">
    {{text}}
  </div>
</template>
<script>
  export default {
    props: {
      text: String,
    },
  };
</script>
<style lang="scss">
  .modal__text{
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: 20px;
  }
</style>
