<template>
  <div class="pagination">
    <router-link
      tag="span"
      class="pagination__item"
      :to="link(number)"
      :class="{'pagination__item_active':number===activePage}"
      v-for="number in pageCount"
      :key="number"
    >{{number}}
    </router-link>
  </div>
</template>
<script>
  export default {
    props: {
      length: Number,
      perPage: Number,
      activePage: Number,
    },

    methods: {
      link(pageNumber) {
        return {
          name: this.route,
          params: {
            page: pageNumber,
          },
        };
      },
    },

    computed: {
      pageCount() {
        return Math.ceil(this.length / this.perPage);
      },
    },
  };
</script>
<style lang="scss">
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
  }

  .pagination__item {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    border-radius: 3px;
    margin-right: 3px;
    border: 2px solid $primary;
    background-color: transparent;
    cursor: pointer;
    color: $primary;
    transition: color .4s, background-color .4s, border .4s, width .4s, height .4s;
    &:hover {
      background-color: $primary;
      color: $white;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &_active {
      color: $white;
      background-color: $primary;
      height: 50px;
      width: 50px;
      cursor: default;
    }
  }
</style>
