<template>
  <div
    class="button"
    :class="themeClass"
    @click="click">
    {{title}}
    <user-icon v-if="icon" :name="icon" class="button__icon"/>
  </div>
</template>
<script>
  export default {
    props: {
      title: String,
      icon: String,
      theme: String,
    },
    computed: {
      themeClass() {
        if (this.theme) {
          return `button_${this.theme}`;
        }
        return 'button';
      },
    },
    methods: {
      click() {
        this.$emit('click');
      },
    },
  };
</script>
<style lang="scss">
  .button{
    color: $black;
    background-color: $default;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    font-family: Roboto;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    transition: .4s background-color;
    &:hover{
      background-color: lighten($default,10%);
    }
  }
  .button_edit{
    background-color: $edit;
    &:hover{
      background-color: darken($edit,10%);
    }
  }
  .button_remove{
    background-color: $remove;
    color: $white;
    &:hover{
      background-color: darken($remove,10%);
    }
  }
  .button_add{
    background-color: $add;
    color: $white;
    &:hover{
      background-color: darken($add,10%);
    }
  }
  .button__icon{
    margin-left: 3px;
    margin-right: 3px;
  }
</style>
