<template>
  <span class="fa" :class="iconTitle"></span>
</template>
<script>
  export default {
    props: {
      name: String,
    },

    computed: {
      iconTitle() {
        return `fa-${this.name}`;
      },
    },
  };
</script>
