<template>
  <div class="loader">
    <div class="loader__content">
      <vue-loaders name="pacman" color="#5d51ff" scale="1"/>
      <div class="loader__text" v-if="message">{{message}}</div>
    </div>

  </div>
</template>
<script>
  export default {
    props: {
      message: String,
    },
  };
</script>
<style lang="scss">
  .loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($white,.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loader__text{
    display: block;
    font-family: "Roboto";
    margin-top: 30px;
    font-size: 22px;
  }
</style>
