<template>
  <h2 class="page__title">{{title}}</h2>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: 'Название страницы',
      },
    },
  };
</script>

<style lang="scss">
  .page__title{
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
  }
</style>
