<template>
  <div class="radio">
    <div class="radio__title">Выберите пол:</div>
    <div class="radio__items">
      <radio-item
        v-for="item in items"
        :key="item.value"
        :item="item"
        :active="item.value===value"
        @change="change($event)"
      />
    </div>

  </div>
</template>
<script>
  import Item from './Item/Item.vue';

  export default {
    props: {
      items: Array,
      value: String,
    },

    methods: {
      change(value) {
        this.$emit('change', value);
      },
    },

    components: {
      'radio-item': Item,
    },
  };
</script>

<style lang="scss">
  .radio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -15px 20px -15px;
    width: 300px;
  }
  .radio__title{
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .radio__items{
    display: flex;
  }
</style>
