<template>
  <employees-wrapper
    v-if="completeEmployees.length>0 && !isLoading"
    :title="'Сотрудники'"
    :createAction="createEmployee">
    <employees-table :employees="completeEmployees"/>
    <employees-pagination
      :length="employeesLength"
      :perPage="perPage"
      :activePage="page"
    />
  </employees-wrapper>
  <user-loader :message="'Идет загрузка сотрудников'" v-else/>
</template>
<script>
  import Wrapper from '../../components/UI/PageTools/Wrapper/Wrapper.vue';
  import Pagination from '../../components/UI/PageTools/Pagination/Pagination.vue';
  import Table from './Table/Table.vue';
  import CreateModal from './Modal/CreateModal.vue';

  export default {
    props: {
      page: Number,
    },

    data: () => ({
      perPage: 10,
      isLoading: true,
    }),

    computed: {
      employees() {
        return this.$store.getters.employees;
      },

      completeEmployees() {
        return this.employees.slice((this.page - 1) * this.perPage, this.page * this.perPage);
      },

      employeesLength() {
        return this.employees.length;
      },
    },

    async created() {
      try {
        await this.$store.dispatch('GET_EMPLOYEES');
        this.isLoading = false;
        this.$notify({
          type: 'success',
          text: 'Сотрудники успешно загружены',
        });
      } catch (e) {
        this.$notify({
          type: 'danger',
          text: 'При загрузке сотрудников произошла ошибка',
        });
      }
      this.checkPage();
    },

    updated() {
      this.checkPage();
    },

    methods: {
      checkPage() {
        if (this.page > Math.ceil(this.employeesLength / this.perPage)) {
          this.$router.push({ name: 'Employees' });
        }
      },

      async createEmployee() {
        await this.$store.dispatch('GET_DEPARTMENTS');
        this.$modal.show(CreateModal, {
          employee: {
            firstName: null,
            lastName: null,
            surName: null,
            sex: null,
            salary: null,
            departments: null,
          },

          saveEvent: this.create,
        }, {
          adaptive: true,
          height: 'auto',
        });
      },

      async create(department) {
        await this.$store.dispatch('CREATE_EMPLOYEE', department);
        this.$router.push({
          name: 'Employees',
          params: {
            page: Math.ceil(this.employeesLength / this.perPage),
          },
        });
        this.$notify({
          type: 'success',
          text: 'Отделение успешно создано',
        });
      },
    },

    components: {
      'employees-wrapper': Wrapper,
      'employees-pagination': Pagination,
      'employees-table': Table,
    },
  };
</script>
