<template>
  <div class="navigation">
    <navigation-logo :title="title"/>
    <navigation-group :links="links"/>
  </div>
</template>
<script>
  import Logo from './Logo/Logo.vue';
  import Group from './Group/Group.vue';

  export default {
    props: {
      links: Array,
      title: String,
    },
    components: {
      'navigation-logo': Logo,
      'navigation-group': Group,
    },
  };
</script>

<style lang="scss">
  .navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 12px rgba($black,.4);
    align-items: center;
    @include sm{
      padding: 15px;
    }
    @include md{
      padding: 20px;
    }
  }
</style>
