<template>
  <div class="input__container">
    <input
      :type="type"
      :placeholder="placeholder"
      :value="value"
      @input="change"
      class="modal__input"
    />
    <div class="errors-container" v-if="showErrors">
      <span
        class="error-item"
        v-for="item in activeErrors"
        :key="item.error"
      >{{textError(item)}}</span>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      type: {
        type: String,
        default: 'text',
      },
      validators: Array,
      showErrors: Boolean,
      placeholder: String,
      value: [String, Number],
    },

    methods: {
      change(e) {
        this.$emit('change', e.target.value);
      },
      textError(obj) {
        return obj[Object.keys(obj)[0]].error;
      },
    },

    computed: {
      activeErrors() {
        if (this.validators) {
          return this.validators.filter(item => !item[Object.keys(item)[0]].value);
        }
        return [];
      },
    },
  };
</script>
<style lang="scss">
  .input__container{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .modal__input{
    padding: 10px 15px;
    font-family: "Roboto";
    font-weight: 300;
    width: 300px;
    border: 1px solid #e8e8e8;
  }
  .errors-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .error-item{
    padding: 5px 5px;
    background-color: $remove;
    color: $white;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
</style>
