<template>
  <hr class="page__hr"/>
</template>
<style lang="scss">
  .page__hr{
    display: flex;
    height: 2px;
    opacity: .3;
    width: 100%;
    margin: 0;
    background-color: $primary;
  }
</style>
