<template>
  <div class="wrapper">
    <page-navigation
      :links="navigation.links"
      :title="navigation.title"
    />
    <div class="view">
      <animated-fade-in name="fade" mode="out-in" duration="1000" appear>
        <router-view/>
      </animated-fade-in>
    </div>
  </div>
</template>

<script>
  import Navigation from '../components/UI/Navigation/Navigation.vue';
  import interfaceSetting from '../assets/interfaceSettings.json';

  export default {
    data: () => ({
      navigation: interfaceSetting.navigation,
    }),

    components: {
      'page-navigation': Navigation,
    },
  };
</script>

<style lang="scss">
  .wrapper{
    width: 100%;
  }
  .view{
    padding: 20px;
  }
</style>
