<template>
    <router-link tag="span" :to="{name: 'Dashboard'}" class="navigation__logo">
        {{title}}
    </router-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'APP_NAME',
    },
  },
};
</script>

<style lang="scss">
  .navigation__logo{
    font-family: "Nunito";
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    transition: .4s all;
    color: $primary;
    &:hover{
      transform: translateY(-1px) ;
    }
  }
</style>
