<template>
  <div id="app">
    <router-view></router-view>
    <notifications
      animation-type="velocity"
      position="bottom left"
      classes="user-notify"
    ></notifications>
    <v-dialog/>
  </div>
</template>
<script>
  export default {

  };
</script>
<style lang="scss">
  *{
    box-sizing: border-box;
  }
  .user-notify {
    // Style of the notification itself
    margin-bottom: 3px;
    border-radius: 5px;
    .notification-title {
      // Style for title line
    }

    .notification-content {
      font-family: "Roboto";
      font-weight: 900;
      padding: 20px;
    }

    &.warning {
      background-color: #ffef28;
      color: $black;
    }

    &.success {
      background-color: $add;
      color: $white;
    }

    &.danger {
      background-color: $remove;
      color: $black;
    }
  }
</style>
