<template>
  <div class="modal">
    <modal-title :title="'Создание отдела'"/>
    <modal-input
      :placeholder="'Введите название отдела'"
      :value="newDepartment.title"
      :validators="titleValidator"
      :showErrors="showErrors"
      @change="changeTitle($event)"
    />
    <user-button
      :title="'Создать'"
      :theme="'add'"
      :icon="'plus'"
      @click="save"
    />
  </div>
</template>
<script>
  import _ from 'lodash';
  import {
    required, minLength, maxLength,
  } from 'vuelidate/lib/validators';
  import Input from './Input/Input.vue';
  import Title from './Title/Title.vue';

  export default {
    data: () => ({
      newDepartment: null,
      showErrors: false,
    }),
    validations: {
      newDepartment: {
        title: {
          required,
          minLength: minLength(5),
          maxLength: maxLength(100),
        },
      },
    },

    props: {
      department: Object,
      saveEvent: Function,
    },

    methods: {
      changeTitle(value) {
        this.newDepartment.title = value;
        this.$v.newDepartment.title.$touch();
      },
      async save() {
        if (!this.$v.newDepartment.$invalid) {
          await this.saveEvent(this.newDepartment);
          this.$modal.hide(this.$parent.name);
        } else {
          this.showErrors = true;
        }
      },
    },
    computed: {
      titleValidator() {
        return [{
          required: {
            value: this.$v.newDepartment.title.required,
            error: 'Название отдела является обязательным полем',
          },
        }, {
          length: {
            value: this.$v.newDepartment.title.minLength && this.$v.newDepartment.title.maxLength,
            error: 'Название должно содержать от 5 до 100 символов',
          },
        }];
      },
    },

    created() {
      this.newDepartment = _.cloneDeep(this.department);
    },

    components: {
      'modal-input': Input,
      'modal-title': Title,
    },
  };
</script>
<style>
  .modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
