<template>
  <span class="modal__title">{{title}}</span>
</template>
<script>
  export default {
    props: {
      title: String,
    },
  };
</script>
<style lang="scss">
  .modal__title{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
  }
</style>
