<template>
  <div class="table-wrapper" v-if="employees.length>0">

      <table class="table">
      <thead class="table__thead">
        <tr class="table__thead-tr">
          <th class="table__th">Фамилия</th>
          <th class="table__th">Имя</th>
          <th class="table__th">Отчество</th>
          <th class="table__th">Пол</th>
          <th class="table__th">Зарплата</th>
          <th class="table__th">Отделения</th>
          <th class="table__th">Действия</th>
        </tr>
      </thead>
        <animated-group-fade-in tag="tbody" mode="out-in" appear>
          <tr class="table__tr" v-for="item in employees" :key="item.id">
            <td class="table__td">{{validateField(item.lastName)}}</td>
            <td class="table__td">{{validateField(item.firstName)}}</td>
            <td class="table__td">{{validateField(item.surName)}}</td>
            <td class="table__td">{{validateField(item.sex)}}</td>
            <td class="table__td">{{item.salary ? `${item.salary}$`: '-'}}</td>
            <td class="table__td">{{departmentsString(item)}}</td>
            <td class="table__td table__buttons">
              <user-button
                class="table__buttons-item"
                :title="'Редактировать'"
                :theme="'edit'"
                :icon="'edit'"
                @click="editEmployee(item)"
              />
              <user-button
                class="table__buttons-item"
                :title="'Удалить'"
                :theme="'remove'"
                :icon="'times'"
                @click="deleteEmployee(item)"
              />
            </td>
          </tr>
        </animated-group-fade-in>
    </table>
  </div>
</template>

<script>
  import EditModal from '../Modal/EditModal.vue';
  import DeleteModal from '../Modal/DeleteModal.vue';

  export default {
    props: {
      employees: Array,
    },

    methods: {
      editEmployee(item) {
        this.$modal.show(EditModal, {
          employee: item,
          saveEvent: this.update,
        }, {
          adaptive: true,
          height: 'auto',
        });
      },

      async update(employee) {
        await this.$store.dispatch('EDIT_EMPLOYEE', employee);
        this.$notify({
          type: 'success',
          text: 'Сотрудник успешно изменен',
        });
      },

      deleteEmployee(item) {
        this.$modal.show(DeleteModal, {
          item,
          deleteEvent: this.delete,
        }, {
          adaptive: true,
          height: 'auto',
        });
      },

      async delete(item) {
        try {
          await this.$store.dispatch('DELETE_EMPLOYEE', item.id);
          this.$notify({
            type: 'success',
            text: `Сотрудник ${item.lastName + item.firstName} успешно удален`,
          });
        } catch (e) {
          this.$notify({
            type: 'danger',
            text: 'Внутренняя ошибка сервера',
          });
        }
      },
      validateField(field) {
        return field || '-';
      },

      departmentsString(item) {
        return item.departments.map(departmentsItem => departmentsItem.title)
          .join(' / ');
      },
    },
  };
</script>

<style lang="scss" scoped>
  .table{
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid rgba($black,.3);
  }
  .table__thead-tr{
    border-bottom: 1px solid rgba($black,.3);
  }
  .table__th{
    font-family: Roboto;
    padding: 20px;
    font-weight: 900;
  }
  .table__td{
    text-align: center;
    padding: 10px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14 px;
  }
  .table__tr:nth-of-type(even){
    background-color: rgb(241, 241, 241);
  }
  .table__buttons{
    /*display: flex;*/
  }
  .table__buttons-item{
    margin-right: 5px;
    &:last-of-type{
      margin-right: 0;
    }
  }
  .table-wrapper{
    overflow-x: auto;
  }
</style>
