<template>
  <div class="navigation__group">
    <group-item
      v-for="item in links"
      :key="item.title"
      :item="item"
    />
  </div>
</template>

<script>
  import Item from './Item/Item.vue';

  export default {
    props: {
      links: {
        type: Array,
        default: () => [],
      },
    },
    components: {
      'group-item': Item,
    },
  };
</script>

<style lang="scss">
  .navigation__group{
    display: flex;
    align-items: center;
  }
</style>
