<template>
  <div class="table-wrapper" v-if="departments.length>0">
    <table class="table">
      <thead class="table__thead">
      <tr class="table__thead-tr">
        <th class="table__th">Название отдела</th>
        <th class="table__th">Количество сотрудников отдела</th>
        <th class="table__th">Максимальная зарплата в отделе</th>
        <th class="table__th">Действия</th>
      </tr>
      </thead>
      <animated-group-fade-in tag="tbody" mode="out-in" appear>
        <tr class="table__tr" v-for="item in departments" :key="item.id">
        <td class="table__td">{{item.title}}</td>
        <td class="table__td">{{!!item.employeesCount ? item.employeesCount : '-'}}</td>
        <td class="table__td">{{!!item.maxSalary ? `${item.maxSalary}$` : '-'}}</td>
        <td class="table__td table__buttons">
          <user-button
            class="table__buttons-item"
            :title="'Редактировать'"
            :theme="'edit'"
            :icon="'edit'"
            @click="editDepartment(item)"
          />
          <user-button
            class="table__buttons-item"
            :title="'Удалить'"
            :theme="'remove'"
            :icon="'times'"
            @click="deleteDepartment(item)"
          />
        </td>
      </tr>
      </animated-group-fade-in>
    </table>
  </div>
</template>

<script>
  import EditModal from '../Modal/EditModal.vue';
  import DeleteModal from '../Modal/DeleteModal.vue';

  export default {
    props: {
      departments: Array,
    },

    methods: {
      editDepartment(item) {
        this.$modal.show(EditModal, { department: item, saveEvent: this.update }, { adaptive: true, height: 'auto' });
      },

      async update(department) {
        await this.$store.dispatch('EDIT_DEPARTMENT', department);
        this.$notify({
          type: 'success',
          text: 'Отделение успешно изменено',
        });
      },

      deleteDepartment(item) {
        this.$modal.show(DeleteModal, { item, deleteEvent: this.delete }, { adaptive: true, height: 'auto' });
      },

      async delete(item) {
        if (item.employeesCount > 0) {
          this.$notify({
            type: 'danger',
            text: 'Если у отдела есть сотрудники, то его нельзя удалить',
          });
        } else {
          try {
            await this.$store.dispatch('DELETE_DEPARTMENT', item.id);
            this.$notify({
              type: 'success',
              text: `Отделение ${item.title} успешно удалено`,
            });
          } catch (e) {
            this.$notify({
              type: 'danger',
              text: 'Внутренняя ошибка сервера',
            });
          }
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .table{
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid rgba($black,.3);
  }
  .table__thead-tr{
    border-bottom: 1px solid rgba($black,.3);
  }
  .table__th{
    font-family: Roboto;
    padding: 20px;
    font-weight: 900;
  }
  .table__td{
    text-align: center;
    padding: 10px;
    font-family: Roboto;
    font-weight: 300;
  }
  .table__tr:nth-of-type(even){
    background-color: rgb(241, 241, 241);
  }
  .table__buttons{
    /*display: flex;*/
  }
  .table__buttons-item{
    margin-right: 5px;
    &:last-of-type{
      margin-right: 0;
    }
  }
  .table-wrapper{
    overflow-x: auto;
  }
</style>
