<template>
  <departments-wrapper
    v-if="completeDepartments.length>0 && !isLoading"
    :title="'Отделения'"
    :createAction="createDepartment"
  >
    <departments-table :departments="completeDepartments"/>
    <departments-pagination
      :length="departmentsLength"
      :perPage="perPage"
      :activePage="page"
    />
  </departments-wrapper>
  <user-loader :message="'Идет загрузка отделений'" v-else/>
</template>
<script>
  import Wrapper from '../../components/UI/PageTools/Wrapper/Wrapper.vue';
  import Pagination from '../../components/UI/PageTools/Pagination/Pagination.vue';
  import Table from './Table/Table.vue';
  import CreateModal from './Modal/CreateModal.vue';

  export default {
    props: {
      page: Number,
    },

    data: () => ({
      perPage: 10,
      isLoading: true,
    }),

    computed: {
      departments() {
        return this.$store.getters.departments;
      },

      completeDepartments() {
        return this.departments.slice((this.page - 1) * this.perPage, this.page * this.perPage);
      },

      departmentsLength() {
        return this.departments.length;
      },
    },

    async created() {
      try {
        await this.$store.dispatch('GET_DEPARTMENTS');
        this.isLoading = false;
        this.$notify({
          type: 'success',
          text: 'Отделения успешно загружены',
        });
      } catch (e) {
        this.$notify({
          type: 'danger',
          text: 'При загрузке отделений произошла ошибка',
        });
      }
      this.checkPage();
    },

    updated() {
      this.checkPage();
    },

    methods: {
      checkPage() {
        if (this.page > Math.ceil(this.departmentsLength / this.perPage)) {
          this.$router.push({ name: 'Departments' });
        }
      },

      createDepartment() {
        this.$modal.show(CreateModal, { department: { title: '' }, saveEvent: this.create }, { adaptive: true, height: 'auto' });
      },

      async create(department) {
        await this.$store.dispatch('CREATE_DEPARTMENT', department);
        this.$router.push({
          name: 'Departments',
          params: {
            page: Math.ceil(this.departmentsLength / this.perPage),
          },
        });
        this.$notify({
          type: 'success',
          text: 'Отделение успешно создано',
        });
      },
    },

    components: {
      'departments-wrapper': Wrapper,
      'departments-pagination': Pagination,
      'departments-table': Table,
    },
  };
</script>
