$sm: 567;
$md: 768;
$lg: 992;
$xl: 1200;
@mixin sm() {
  @media (min-width: $sm*1px) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $md*1px) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $lg*1px) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $xl*1px) {
    @content;
  }
}

@mixin h() {
  @media (orientation:landscape) {
    @content;
  }
}

@mixin smh() {
  @media (orientation:landscape) and (min-width: $sm*1px) {
    @content;
  }
}

@mixin mdh() {
  @media (orientation:landscape) and (min-width: $md*1px) {
    @content;
  }
}

@mixin lgh() {
  @media (orientation:landscape) and (min-width: $lg*1px) {
    @content;
  }
}

@mixin xlh() {
  @media (orientation:landscape) and (min-width: $xl*1px) {
    @content;
  }
}
